@import "tailwindcss";

:root,
[data-theme="warm"] {
  --color-primary: #FFF8DC;
  --color-secondary: #FFFFF0;
  --color-accent: #D7505F;
  --color-text: #000000;
  --color-heading: #3B2A1A;
  --color-subheading: #6B4F3A;
  --color-strip: #F1E299;
}

[data-theme="light"] {
  --color-primary: #FFFFFF;
  --color-secondary: #FFFFF0;
  --color-accent: #8C489F;
  --color-text: #0e0e10;
  --color-heading: #1A1A1D;
  --color-subheading: #4A4A4F;
  --color-strip: #F3E6F7;
}

[data-theme="dark"] {
  --color-primary: #36454F;
  --color-secondary: #000000;
  --color-accent: #FFD700;
  --color-text: #FFFDD0;
  --color-heading: #F5F0DC;
  --color-subheading: #C9C2A8;
  --color-strip: #232D34;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-text: var(--color-text);
  --color-heading: var(--color-heading);
  --color-subheading: var(--color-subheading);
  --color-strip: var(--color-strip);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-primary);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
